.contact-section {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.contact-section h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.linkedin-link {
  display: inline-block;
  margin-bottom: 2rem;
  color: #0A66C2; /* LinkedIn blue */
  transition: color 0.3s ease;
}

.linkedin-link:hover {
  color: #004182;
}

.contact-form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: left;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #8DAACC;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: black;
}

.plane-wrapper {
  position: absolute; 
  width: 100%;
  margin-top: 3rem;
  transform: translateX(-40%); 
  padding-top: 5rem;
  overflow: hidden;
}

.plane-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: smoothFlight 12s linear infinite;
  transform-origin: center center;
}

.hidden-nugget {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.hidden-nugget::before {
  content: "Hope the plane wasn't too hard to catch 😅";
  color: chocolate;
}

.paper-plane {
  font-size: 2.5rem;
  color: white;
  bottom: 0;
}

.inspect-text::before {
  opacity: 0.5;
  margin-right: 0.3rem;
}

.inspect-text {
  font-size: 1rem;  
  color: white;          
  margin-bottom: 4px;  
  font-weight: 500;
  font-family: sans-serif;
}

@keyframes smoothFlight {
  0% {
    transform: translateX(-20vw) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(120vw) translateY(-100px) rotate(20deg);
  }
}

